<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>School Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:fragment="header">
    <div class="bg-secondary">
<!--        <div class="container pt-3">-->
            <div class="row justify-content-center">
<!--                <div class="col-md-6 text-center mb-5">-->
                    <div class="text-info">

                        <h1 class="heading-section">School Management</h1>
                    </div>
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
<!--    <nav class="navbar navbar-expand-sm bg-dark justify-content-center">-->
<!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="/classes">Classes</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="/teachers">Teacher</a></li>-->
<!--            <li class="nav-item"><a class="nav-link" href="/students">Student</a></li>-->
<!--            <li class="nav-item"><a class="nav-link"  href="/logout">Logout</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
    <div nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/classes}">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/teachers}" >Teacher</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}" >Student</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> LogOut</a>
            </ul>
        </div>
    </div>
    <h3 th:text="${title}" class="text-info"></h3>
</div>
</body>
</html>