<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<!--<div>-->
<!--    <p style="color:purple" class="text-center">Welcome to the Home Page  Of School Management</p>-->
<!--</div>-->
<div style="color:purple">
    <marquee direction="left">Welcome to the Home Page  Of School Management</marquee>
</div>
<div class="text-center">
<img th:src = "@{/images/school 1.jpg}" />
</div>
<!--<img th:src = "@{/images/kids.jpg}" />-->
</body>
</html>